@import "mixin";
//public


body{
  font-size: 18px;
  font-family: fantasy,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(232,240,222);
  background-color: rgb(219, 201, 209);
  transition: .5s;
  letter-spacing: .1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inner{
  width:85vw;
  margin: 0 auto;
}

img {
  z-index: -1;
}

//public

//back-to-top

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #fff;
  width: 40px;
  height: 40px;
  z-index: 2;
  display: none;
}
.back-to-top:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: #000000;
}
.back-to-top:after {
  content: "↑";
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

//back-to-top


//header

.header{
  height: 100px;
  font-size: 1.6em;
  align-items: center;

  &.fix{
    position: fixed;
    backdrop-filter: blur(10px);
  }

  &-logo{
    width: 70px;
    height: 70px;
  }
  &-ul{
    align-items: center;
    @include tab {
      display: none;
    }
  }
  
  &-li{
    margin-right: 20px;
    & > a{
      transition: .3s;
    }
    &:hover > a{
      color: rgb(11,54,97);
    }
  }

}

#hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 999;

  & span{  
      display: block;
      width: 20px;
      height: 1px;
      background: #333;
      position: absolute;
      left: 10px;
      transition: 0.3s;
      &:nth-child(1){
        top: 10px;
      }
      &:nth-child(2){
        top: 20px;
      }
      &:nth-child(3){
        top: 30px;
      }
    }
  }




#hamburger:hover span:nth-child(2) {
  left: 15px;
}



#hamburger.active span:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}

#hamburger.active span:nth-child(2) {
  left: 30px;
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

body.hidden {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: rgb(104,183,135);
    display: none;
  }

  .header-nav ul.flex {
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  #hamburger {
    display: block;
  }
}

@media screen and (min-width: 901px) {
  .header-nav {
    display: block !important;
    
  }
}
  


//header

//section

.section{
  position: relative;
  height: 100vh;
  &-title{
    font-size: 2.4em;
    letter-spacing: .5em;
    margin-bottom: 20px;
    opacity: 0;
    &.inview {
      opacity: 1;
  
      & .char {
        display: inline-block;
      }
    }
  
    & .char {
      opacity: 0;
    }
  }
  
  .section-title.inview .char {
    @include animation(
      $name: kf-animate-chars,
      $duration: 0.5s,
      $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
      $fill-mode: both
    );
  
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.04s;
      }
    }
  }
  
  @keyframes kf-animate-chars {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }    
}
  
}

.section:nth-child(1){
  background-color: liner-gradient( rgb(234,145,152),rgb(104,183,135));
}

.section:nth-child(2){
  background-color: liner-gradient(rgb(104,183,135),(rgb(153, 72, 47)));
}

.section:nth-child(3){
  background-color: liner-gradient(rgb(153, 72, 47),rgb(255,255,255));
}

//section



.main{
  position: relative;
  margin-bottom: 80px;
  &-title{
    position: absolute;
    top: 150px;
    letter-spacing: 1.6;
    line-height: 1.2;
    font-size: 70px;
    z-index: 10;
    @include tab{      
      top: 30%;      
      transform: translateY(-30%);
      width: 100%;
    }
  }
  &-img{
    position: absolute;
    right: 100px;
    width: 600px;
    height: 500px;
    @include tab{    
      top: 50%;      
      transform: translateY(-50%);
      width: 100%;
      right: 10%;
    }
  }
}

.about{
  position: relative;
  
  &-box{
    position: absolute;
    right: 0;
    width: 400px;
    line-height: 1.3;
    padding-right: 20px;
  }

  &-txt{
    margin-bottom: 80px;
      list-style: none;
      line-height: 1.5;
      font-family: 'Franklin Gothic Medium';
  }
  
  &-img{
    position: absolute;
    left: -80px;
    top: -20px;
    width: 500px;
    height: 500px;
    @include tab {
      opacity: .2;
    }
  }
}

.works{
  display: flex;
  margin-bottom: 80px;
  &-txt{
    margin-bottom: 20px;
  }
  &-img{
    position: absolute;
    right: 0;
    width: 500px;
    height: 600px;
    
    @include tab{
      
      opacity: .3;
    }
  }
  &-flex{
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
}

.blog{
  overflow-x: hidden;
  // overflow: hidden;
  & article{
    margin-right: 20px;
  }

  & .thumbnail{
    margin-bottom: 10px;
  }
  &-txt{
    width: 250px;
    letter-spacing: 1.1;
    line-height: 1.2;
  }
}

.contact{

  position: relative;

  &-box{
    position: absolute;
  }

  &-info{
    z-index: 99;
    width: 300px;
    margin-bottom: 20px;
    & > input,textarea{
      width: 100%;
      height: 50px;
    }

  }
  &-img{
    position: absolute;
    right: 10%;
    width: 500px;
    height: 600px;    
    box-sizing: border-box;
    @include tab{
      display: none;
    }
  }
}




$color: rgb(11,54,97);

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: block;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color;
    color: #fff;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}